.env
.env.backup
/node_modules
/public/hot
/public/storage
/public/img/bg-event/*.jpg
/public/img/bg-event/*.png
/public/img/avatar/*.png
/public/img/avatar/*.jpg
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
DS_Store
.phpunit.result.cache

.vercel
