@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fafafa;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 5rem;
    width: 250px;
    margin-top: -5rem;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    z-index: 999;
    background: white;
}

#sidebarMenu ul {
    margin-top: 4rem;
}

#sidebarMenu li:first-child {
    border-top: 1px solid #ddd;
}

#sidebarMenu li {
    padding: 1rem;
    border-top: 0;
    border-bottom: 1px solid #ddd;
}

#openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

#openSidebarMenu, #closeSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: 2rem;
    left: 1rem;
}

@media (min-width: 768px) {
    .sidebarIconToggle, #openSidebarMenu {
        display: none;
    }

    #sidebarMenu {
        position: static;
        left: auto;
        top: auto;
        height: auto;
        display: block;
        transform: none !important;
        transition: none !important;
        background: none;
        width: auto;
    }

    #sidebarMenu ul {
        padding: 0;
        height: auto;
        width: auto;
        margin-top: 5rem;
        margin-left: 4rem;
    }

    #sidebarMenu li:first-child {
        border-top: none;
    }

    #sidebarMenu li {
        border: none;
        padding: 0;
    }
}

.about {
    margin: 1rem;
}

.about h1 {
    font-size: 1.875rem;
    text-align: center;
}

.about h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about ul {
    list-style: circle;
    margin-left: 1.25rem;
}

.about a {
    text-decoration: underline;
    text-decoration-color: blue;
}
